<div class="jumbotron" style=" width: 65%; margin: auto; margin-bottom: 5rem; text-align: center; padding: 1em 3em; background: #161b22; ">
    <h1>Guide</h1>
    <div style="text-align:justify;">
        <div style="text-align: center;">
            <br />
            <b style=" width: 90% !important; margin: auto;text-align: center;color: #f76075; font-size: 0.97em;">(Before you start using the system, check your project's packages, make sure the package is up to date.)</b>
        </div>
        <br />
        <p class="lead">
            To build the project, you need to run the sql scripts, which is located in the folder Sql_Scripts, <b>Make sure the 'Show all files' option in the Solution menu is enabled.</b>
            <br> <span style="margin-left: 2em;">➪ Run the scripts Script.sql to create the tables</span>
        </p>
    </div>
    <div style="text-align:justify; margin-left: 2em;">
        <p class="lead">
            Using the system
            <br> <span style="margin-left: 2em;">1. To start, register teachers, input their names, birthday and salary.</span>
            <br> <span style="margin-left: 2em;">2. With registered teachers, you can now create courses.</span>
            <br> <span style="margin-left: 2em;">3. To feed the courses, also create the coherent subjects.</span>
            <br> <span style="margin-left: 2em;">4. Finally, you can add students and record their grades in enrolled courses.</span>
            <br> <div style="font-size: 1.07em !important; color: #c5c5c7; font-weight: 300; margin-left: 1em; "> And that's it, now your system is ready to use! （˶′◡‵˶） </div>
        </p>
    </div>
    <br />
    <div style="text-align:justify; margin-left: 3em;">
        <hr />
        <br />
        <div style="font-size: 1.07em !important; color: #c5c5c7; font-weight: 300; margin-left: 1em; margin-bottom: 3em;">
            Check out my Portfolio and some of the sites I've done!  (・ω・)b）<br><br>
            <a href="https://debora.netlify.app/" target="_blank"><button type="button" shadow-none class="btn btn-primary">  Let's go</button></a>
           
        </div>
    </div>
</div>

<style>
    h1 {
        color: whitesmoke !important;
        font-size: 2.5em !important;
    }

    .lead {
        padding: 1em;
        font-size: 1.07em !important;
        color: #c5c5c7;
        line-height: 1.8;
        font-weight: 300;
    }

    button {
        margin-left: 2%;
        width: 150px;
        border: none;
    }

    button:focus {
            outline: none;
        }

    b {
        font-weight: 300;
    }
</style>