@*<div ng-if="a= true" class="alert alert-success" role="alert" style="width: 70%; margin: auto; text-align:center;">
        This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>
    <div class="alert alert-danger" role="alert" style="width: 70%; margin: auto; text-align:center;">
        This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
    </div>*@
<div class="container" ng-app="courses" ng-controller="courseCtrl" style="width: 80%; height: 75rem;  background-color: #0d1117; border-radius: 10px; padding: 1.3% 0.2% 0.2% 1%; overflow-y: scroll;">
    <div class="panel" style="border: none; background: #161b22;">
        <div class="panel-heading" style="border: none; background: #161b22; color: #C9D1D9;">Courses</div>
        <div class="panel-body" style="background: #0d1117; color: #8B949E;">
            <button type="button" class="btn btn-primary" data-target="#AddCourse" data-toggle="modal" style="border-radius: 25px; width: 38px;">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input id="search" shadow-none ng-model="search" style="background: #0a0d12; height: 30px; margin-left: 10em; width: 100%; border: none; padding: 1.5%; " placeholder="Search for a course..." type="text" />
        </div>

        @*LIST*@
        <table class="table" style="background: #0d1117; color: #161b22; border: none; ">
            <thead style="background-color: #161b22; border: none; color: white; ">
                <tr>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">ID</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Description</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Duration</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Category</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Teacher</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Students Count</th>
                    <th class="text-center" style="border-bottom: 0.5px solid #161b22">Actions</th>
                </tr>
            </thead>
            <tbody style="color: #8B949E; border: 0.2px solid #161b22;">
                <tr ng-repeat="c in Courses| filter:search">
                    <td class="text-center">{{c.CourseId}}</td>
                    <td class="text-center">{{c.Name}}</td>
                    <td class="text-center">{{c.Duration}}y</td>
                    <td class="text-center">{{c.Category}}</td>
                    <td class="text-center">{{c.TeacherName}}</td>
                    <td class="text-center">{{c.StudentsCount}}</td>

                    <td class="text-center" style="width: 150px; padding: 0.5%;">
                        <a href="#" style="border-radius: 25px; padding: 0.3em 0.6em; margin-right: 0.5em;"
                           data-target="#AtualizarFuncionario"
                           data-toggle="modal" class="btn btn-success"
                           ng-click="updateCourseById(c)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" s style="border-radius: 25px; padding: 0.3em 0.6em; margin-right: 0.5em;"
                           data-target="#ExcluirFuncionario"
                           id="btnExcluir"
                           data-toggle="modal" class="btn btn-danger"
                           ng-click="deleteCourseById(c)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>

        @*ADD COURSE*@
        <div class="modal" id="AddCourse" role="dialog" style="width: 100%; padding-top: 8rem;">
            <div class="modal-dialog" style="width: 40%; margin-top: 4%;">
                <div class="modal-content" style="background: #0d1117;">
                    <div class="modal-header" style="border: none;">
                        <h3 style="color: #C9D1D9;">New Course</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="AdicionarNovoFuncionarioForm">
                            <div class="form-group" style="width: 100%; background: green;">
                                <input class="form-control" readonly="readonly" name="funcionarioId" type="hidden" placeholder="Id Funcionário" style="margin: auto; min-width: 300px;" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="name" placeholder="Description" style="width:100%;" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="duration" placeholder="Duration (Years)" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="category" placeholder="Category" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="teacherId" placeholder="Teacher ID" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button id="btnSave" type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addCourse()">Confirm</button>
                        <button id="btnSave" type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearData()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        @*UPDATE COURSE*@
        <div class="modal" id="AtualizarFuncionario" role="dialog" style="width: 100%; margin-top: 12rem;">
            <div class="modal-dialog" style="width: 40%; margin-top: 4%;">
                <div class="modal-content" style="background: #0d1117; color: whitesmoke;">
                    <div class="modal-header" style="border: none;">
                        <h3 style="color: #C9D1D9;">Update Course</h3>
                    </div>
                    <div class="modal-body" style="margin-left: 20px">
                        <form class="form-horizontal" name="UpdateForm">
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" name="TeacherId" ng-model="UpdatedCourseId" type="hidden" placeholder="UpdatedCourseId" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Name" ng-model="UpdatedName" type="text" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Birthday" ng-model="UpdatedDuration" type="text" placeholder="Duration" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Salary" ng-model="UpdatedCategory" type="text" placeholder="Category" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="TeacherId" ng-model="UpdatedTeacherId" type="text" placeholder="TeacherId" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="updateCourse()">
                            Update
                        </button>
                        <button type="button" id="btnSave" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @*DELETE COURSE*@
        <div class="modal" role="dialog" id="ExcluirFuncionario" style="padding-top: 13em;">
            <div class="modal-dialog">
                <div class="modal-content" style="background: #0d1117;">
                    <div class="modal-header" style="border: none; margin-top: 3em;">
                        <h4 class="text-info" style="color: white; text-align: center;">Are you sure you want to delete this course?</h4>
                    </div>
                    <div class="modal-body">
                        <div style="color: white; text-align: center;">
                            <p>ID: {{UpdatedCourseId}}</p>
                            <p>Course's name: {{UpdatedName}}</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button id="btnSave" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteCourse(UpdatedCourseId)">Delete</button>
                        <button id="btnSave" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts {
    <script src="~/AngularJsApp/Courses/Module.js"></script>
    <script src="~/AngularJsApp/Courses/Service.js"></script>
    <script src="~/AngularJsApp/Courses/Controller.js"></script>
}

<style>

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #161b22;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: green;
        }

    .form-group {
        width: 100%;
    }

    #btnSave {
        width: 15rem;
        border: none;
    }

        #btnSave:focus {
            outline: none;
        }

    .modal-footer {
        text-align: center;
        margin-bottom: 3em;
    }

    input {
        min-width: 70%;
        margin: auto;
        border-radius: 25px !important;
    }

    td {
        border: 0.5px solid #161b22;
        height: 5rem !important;
        padding-top: 1.6em !important;
    }

    .buttons {
        padding: 1.2rem !important;
    }

    th {
        font-weight: 300;
    }

    label {
        color: whitesmoke !important;
        font-weight: 300;
        font-size: 0.9em !important;
        margin-left: 6.1em;
    }

    select {
        min-width: 70%;
        margin: auto;
        width: 100%;
        border-radius: 25px !important;
    }
</style>