<div class="container" ng-app="teachers" ng-controller="teacherCtrl" style="width: 80%; height: 75rem;  background-color: #0d1117; border-radius: 10px; padding: 1.3% 0.2% 0.2% 1%; overflow-y: scroll;">
    <div class="panel" style="background: #161b22;">
        <div class="panel-heading" style="border: none; background: #161b22; color: #C9D1D9;">Teachers</div>
        <div class="panel-body" style="background: #0d1117; color: #8B949E; ">
            <button type="button" class="btn btn-primary" data-target="#AdicionarFuncionario" data-toggle="modal" style="border-radius: 25px; width: 38px;">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
            <input id="search" shadow-none ng-model="test" style="background: #0a0d12; height: 30px; margin-left: 10em; width: 100%; border: none; padding: 1.5%; " placeholder="Search for a teacher..." type="text" />
        </div>

        @*LIST*@
        <table class="table" style="background: #0d1117; color: #8B949E; border: 0.2px solid #161b22; ">
            <thead style="background-color: #161b22; border: none; color: white; ">
                <tr>
                    <th class="text-center" style="border: 0.5px solid #161b22">ID</th>
                    <th class="text-center" style="border: 0.5px solid #161b22">Name</th>
                    <th class="text-center" style="border: 0.5px solid #161b22">Birthday</th>
                    <th class="text-center" style="border: 0.5px solid #161b22">Salary</th>
                    <th class="text-center" style="border: 0.5px solid #161b22">Actions</th>
                </tr>
            </thead>
            <tbody style="color: #8B949E; border: 0.2px solid #161b22;  ">
                <tr ng-repeat="t in Teachers | filter:test">
                    <td class="text-center" style="border-right: 0.5px solid #161b22 !important;">{{t.TeacherId}}</td>
                    <td class="text-center">{{t.Name}}</td>
                    <td class="text-center">{{t.Birthday | date }}</td>
                    <td class="text-center">{{t.Salary  | currency : symbol : fractionSize}}</td>
                    <td class="text-center" style="width: 150px; padding: 0.5%;">
                        <a href="#" style="border-radius: 25px; padding: 0.3em 0.6em; margin-right: 0.5em;" data-target="#UpdateTeacher" data-toggle="modal" class="btn btn-success" ng-click="updateTeacherById(t)">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="#" style="border-radius: 25px; padding: 0.3em 0.6em; margin-right: 0.5em;" data-target="#DeleteTeacher" id="btnDelete" data-toggle="modal" class="btn btn-danger" ng-click="deleteTeacherById(t)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        
        @*ADD TEACHER*@
        <div class="modal" id="AdicionarFuncionario" role="dialog" style="width: 100%; padding-top: 12rem;">
            <div class="modal-dialog" style="width: 40%; margin-top: 4%;">
                <div class="modal-content" style="background: #0d1117;">
                    <div class="modal-header" style="border: none;">
                        <h3 style="color: #C9D1D9;">New Teacher</h3>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="AdicionarNovoFuncionarioForm">
                            <div class="form-group" style="width: 100%;">
                                <input class="form-control" readonly="readonly" name="funcionarioId" type="hidden" placeholder="Id Funcionário" style="margin: auto; min-width: 300px;" />
                            </div>

                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="name" placeholder="Name" style="width:100%;" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" name="nome" ng-model="birthday" placeholder="Birthday" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" name="nome" ng-model="salary" placeholder="Salary" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="addTeacher()">Confirm</button>
                        <button type="button" class="btn btn-default" id="btnSave" data-dismiss="modal" ng-click="clearData()">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @*UPDATE TEACHER*@
        <div class="modal" id="UpdateTeacher" role="dialog" style="width: 100%; margin-top: 12rem;">
            <div class="modal-dialog" style="width: 40%; margin-top: 4%;">
                <div class="modal-content" style="background: #0d1117; color: whitesmoke;">
                    <div class="modal-header" style="border: none;">
                        <h3 style="color: #C9D1D9;">Update Teacher</h3>
                    </div>
                    <div class="modal-body" style="margin-left: 20px">
                        <form class="form-horizontal" name="AtualizarForm">
                            <div class="form-group">
                                <input class="form-control" readonly="readonly" name="TeacherId" ng-model="UpdatedTeacherId" type="hidden" placeholder="TeacherId" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Name" ng-model="UpdatedName" type="text" placeholder="Name" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Birthday" ng-model="UpdatedBirthday" type="date" placeholder="Birthday" />
                            </div>
                            <div class="form-group">
                                <input class="form-control" name="Salary" ng-model="UpdatedSalary" type="text" placeholder="Salary" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button type="button" class="btn btn-primary" id="btnSave" data-dismiss="modal" ng-click="updateTeacher()">
                            Update
                        </button>
                        <button type="button" id="btnSave" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        @*DELETE TEACHER*@
        <div class="modal" role="dialog" id="DeleteTeacher" style="padding-top: 13em;">
            <div class="modal-dialog">
                <div class="modal-content" style="background: #0d1117;">
                    <div class="modal-header" style="border: none; margin-top: 3em;">
                        <h4 class="text-info" style="color: white; text-align: center;">Are you sure you want to delete this teacher?</h4>
                    </div>
                    <div class="modal-body">
                        <div style="color: white; text-align: center;">
                            <p>ID: {{UpdatedTeacherId}}</p>
                            <p>Teacher's name: {{UpdatedName}}</p>
                        </div>
                    </div>
                    <div class="modal-footer" style="border: none;">
                        <button id="btnSave" type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteTeacher(UpdatedTeacherId)">Delete</button>
                        <button id="btnSave" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/AngularJsApp/Teacher/Module.js"></script>
    <script src="~/AngularJsApp/Teacher/Service.js"></script>
    <script src="~/AngularJsApp/Teacher/Controller.js"></script>
}

<style>
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #161b22;
        border-radius: 10px;
    }

        ::-webkit-scrollbar-thumb:hover {
            background: green;
        }

    .form-group {
        width: 100%;
    }

    input {
        min-width: 70%;
        margin: auto;
        border-radius: 25px !important;
    }

    .modal-footer {
        text-align: center;
        margin-bottom: 3em;
    }

    #btnSave {
        width: 15rem;
        border: none;
    }

        #btnSave:focus {
            outline: none;
        }

    #add:focus {
        outline: none;
    }

    td {
        border-bottom: 0.5px solid #161b22;
        height: 5rem !important;
        padding-top: 1.6em !important;
    }

    .buttons {
        padding: 1.2rem !important;
    }

    th {
        font-weight: 300;
    }

    label {
        color: whitesmoke !important;
        font-weight: 300;
        font-size: 0.9em !important;
        margin-left: 6.1em;
    }

    select {
        min-width: 70%;
        margin: auto;
        width: 100%;
        border-radius: 25px !important;
    }

    #search:focus {
        outline: none;
    }
</style>